body{
	background-image: url(../images/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Anton', sans-serif;

}

h1{
	font-size: 50px;
	margin-bottom: 0;
	background-color: rgba(159,159,159,0.6);
	text-transform: uppercase;
	letter-spacing: 3px;		
	color: rgb(229,229,229);
	text-shadow: -2px 2px rgb(43,39,0);
}

h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	color: rgb(199,199,158);
	text-shadow: -2px 2px rgb(43,39,0);
	background-color: rgba(159,159,159,0.6);
}

#me{
	height: 280px;
	width: 250px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(159,159,159);
	margin-top: 200px;
	box-shadow: -4px 4px rgb(43,39,0);
}
.about{
	width: 50%;
	font-size: 18px;
	line-height: 1.5;
	background-color: rgba(159,159,159,0.6);
	font-family: 'Montserrat', sans-serif;
	color: rgb(255,255,255);
	text-shadow: -2px 2px rgb(43,39,0);
	width: 700px;
	margin: 0 auto;

}
.container{
	text-align: center;	
}
